django==3.2.17
django-phonenumber-field==7.0.2
phonenumbers==8.13.5
django-money==3.0.0
Pillow==9.4.0
django-countries==7.5.1
django-mptt==0.14.0
django-mptt-admin==2.4.1
djoser
djangorestframework_simplejwt
djangorestframework
drf-extra-fields==3.4.1