@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #ff9001;
}

@font-face {
    font-family: 'grocket';
    src: url('/fonts/NunitoSans-Regular.ttf');
}

@font-face {
    font-family: 'grocketbold';
    src: url('/fonts/NunitoSans-Bold.ttf');
}

@font-face {
    font-family: 'grocketbolditalic';
    src: url('/fonts/NunitoSans-ExtraBoldItalic.ttf');
}
